.App {
  margin: 16px;
}

.search-field {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 16px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  text-align: center;
  font-weight: 700;
}

table td {
  padding: 4px;
  border: 1px solid #ccc;
}

table td.data-avatar_url,
table td.data-score,
table td.data-no-user {
  text-align: center;
}

.error-message {
  color: #ff0033;
}
